@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap");

:root {
  --main-font: "Titillium Web", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("image_asset/Background.png");
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
  font-size: 16px;
}
.banner {
  display: flex;
  justify-content: center;
  margin: 43px auto;
}

.banner__image {
  opacity: 0.4;
}
